
/* COMMON SETTINGS, FONTS AND UTILITY CLASSES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  width: 80%;

}
/* \END COMMON SETTINGS, FONTS AND UTILITY CLASSES */

/* STYLE */

header{
  height: 600px;
  width: 100%;
  background-color: #0c325a;
  position: relative;
}

nav{
  height: 100px;
  line-height: 100px;
}

nav::after{
  content: "";
  display: table;
  clear: both;
}
li:first-child input{
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
 }
li:last-child input{
  background-color: #7cbb02;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
 }
.main-menu-sinistra > ul > li:first-of-type{
  margin-right: 60px;
}
.main-menu-destra{
  float: right;
 }
ul{
  display: inline-block;
}
li{
  display: inline-block;
  color: #fff;
  margin-right: 20px;
}
nav > span > ul > li > a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
h1{
  font-size: 50px;
  color: white;
}
.titolo{
  line-height: 100px;
}
header > img{
  height: 400px;
  width: 1000px;
  position: absolute;
  right:  0px;
  bottom: 0;
}
.banner{
  height: 100px;
  width: 100%;
  background-color: lightgrey;
}
.txtbanner{
  text-align: center;
  padding:25px;
}
.txtbanner > h3{
  color: grey;
}
/* Colonne */
.colonne::after{
  content: "";
  display: table;
  clear: both;
}
.colonne{
  margin: auto;
  width: 80%;
  margin-bottom: 100px;
}

/* Colonna di destra */

.colonna1{
  height: 900px;
  width: 33.333%;
  float: left;
  padding-right: 10px;
}
.destra{
  height: 900px;
  width: 100%;
  position: relative;
  text-align: center;
}
.destra > img{
  height: 300px;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 20%;
}
.destra> h3{
  color: green;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.destra > p{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 75%;
  color: grey;
}

/* Colonna centrale */

.colonna2{
  height: 700px;
  width: 33.333%;
  float: left;
  padding: 0px 5px;
}
.centro{
  height: 900px;
  width: 100%;
  position: relative;
  text-align: center;
}
.centro > img{
  height: 300px;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 20%;
}
.centro> h3{
  color: green;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.centro > p{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 75%;
  color: grey;
}

/* Colonna di sinistra */

.colonna3{
  height: 700px;
  width: 33.333%;
  float: left;
  padding-left: 10px;
}
.sinistra{
  height: 900px;
  width: 100%;
  position: relative;
  text-align: center;
}
.sinistra > img{
  height: 300px;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 20%;
}
.sinistra> h3{
  color: green;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 45%;
}
.sinistra > p{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 75%;
  color: grey;
}

.bordo{
  border: 1px solid grey;
  width: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 55%;
}
.livelli::after{
  content: "";
  display: table;
  clear: both;
}
.livelli{
  margin: auto;
  width: 80%;
  margin-bottom: 50px;
}
.immagine{
  width: 40%;
  height: 500px;
  margin-right: 10%;
  margin-left: 5%;
  float: left;
  background-image: url(../img/mountain.svg);
  background-size: auto;
  background-repeat: no-repeat;

}
.testo{
  width: 40%;
  height: 400px;
  float: left;
  text-align: left;
  margin-right: 5%;
}
.testo > h2{
  font-size: 35px;
}
.testo > a{
  line-height: 100px;


}


footer{
  height: 100px;
  width: 100%;
  background-color: lightgrey;
}
.piedi{
  margin: auto;
  width: 80%;
  height: 100%;
}
